<!DOCTYPE html>
<html>
<head>
    <title>angular.jquery examples</title>
    <meta charset="utf-8">
    <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div ng-app="app" ng-controller="DemoCtrl">

        <h1>Dialog Test</h1>
        <button ng-click="testDialog();">Open Dialog</button>

        <jqdialog dialog-name="Test" title="'Test Dialog'"
                  auto-open="false" width="400" height="300"
                  on-open="onOpen" buttons="{'OK': onOk, 'Cancel': onCancel, 'Close': 'close' }"
                  args-to-scope="true"
                  ng-controller="DialogCtrl">
            <h3>This is a test dialog</h3>
            <label for="fullName">Full Name:</label>
            <input id="fullName" ng-model="fullName"/><br/>
            {{ testValue }}
        </jqdialog>

    </div>

    <script src="../lib/jquery-1.8.3.js"></script>
    <script src="../lib/jquery-ui.js"></script>
    <script src="../lib/angular.js"></script>
    <script src="../src/module.js"></script>
    <script src="../src/jqdialog/jqdialog.js"></script>
    <script src="example.js"></script>

</body>
</html>
